 <?php 
|/*
| *
| * Template Name: Category
| *
| * @package WordPress
| *
| */

| get_header(); ?>

.wpb_wrapper
	h1 404 ERROR
	h2 Nothing Found
	img(src="/wp-content/themes/bus/src/img/vader.jpg")

|<?php get_footer();?>	