 <?php 
|/*
| *
| * Template Name: Category
| *
| * @package WordPress
| *
| */

| get_header(); ?>

.wpb_wrapper
	.left
		h4 Авто с водителем
		| <?php wp_nav_menu(array('menu' => 'side-menu','container' => ''))?>
		h4
			a(href="/w-o-driver/") Авто без водителя
		h4 Популярные предложения
	.right
		include php/tax.php	


|<?php get_footer();?>