| <?php 
|/*
| *
| * WP Post Template: Article Template
| *
| * @package WordPress
| *
| */
| get_header(); ?>

| <?php if ( have_posts() ) : while ( have_posts() ) : the_post(); ?>

.wpb_wrapper

	.left
		h1
			| <?php echo the_title(); ?>
		|<?php the_content(); ?>
	.right
		include php/right-sidebar.php	

|<?php endwhile; else: ?>
|<p><?php _e('Sorry, no posts matched your criteria.'); ?></p>
|<?php endif; ?>					


|<?php get_footer();?>