 <?php 
|/*
| *
| * Template Name: Category
| *
| * @package WordPress
| *
| */

| get_header(); ?>


.wpb_wrapper
	.left
		h4 Авто с водителем
		| <?php wp_nav_menu(array('menu' => 'side-menu','container' => ''))?>
		h4
			a(href="/w-o-driver/") Авто без водителя
		h4 Популярные предложения
		include php/pop.php
	.right
		h1 
			| <?php echo get_the_title() ?>
		include php/tax.php
		.desc
			| <?php if ( have_posts() ) : while ( have_posts() ) : the_post(); ?>	
			|<?php the_content(); 
			| //filter_callback();
			|?>
			|<?php endwhile; else: ?>
			|<p><?php _e('Sorry, no posts matched your criteria.'); ?></p>
			|<?php endif; ?>
	|<?php if (is_page( 'van' )) {?>
	.filter
		ul
			li 
				a(href='/van/b10') до 10 мест
			li 
				a(href='/van/b1020') 10 - 20 мест
			li 
				a(href='/van/desc') сначала дорогие
			li 
				a(href='/van/asc') сначала дешевые
			li 
				a(href='/van/van') минивэны
			li 
				a(href='/van/vip') VIP
			li 
				a(href='/van/reset' class='reset') + Сбросить
		
	| <?php }?>


				


|<?php get_footer();?>