footer
	.f-line
		.item
			p.header О Компании
			p Предоставляем транспортные средства<br> для корпоративных мероприятий <br>и личных праздников.
		.item
			p.header Контактные телефоны
			p +375 29 638 77 00
		.item
			p.header Наш адрес
			p пр-т Пушкина, 12 (по предварительной записи)
			p E-mail: busminsk@bk.ru
		.item
			p.header Онлайн заказ
			a(href='#')
				input(type="button" value="Оставить заявку")
	.s-line
		img(class='lazyload' data-src="wp-content/themes/bus/src/img/logo.png")
		ul
			li 
				a(href='#') Микроавтобусы
			li 
				a(href='#') Автобусы
			li 
				a(href='#') Лимузины
			li 
				a(href='#') Представительские
			li 
				a(href='#') Авто на свадьбу
			li 
				a(href='#') Внедорожники
			li 
				a(href='#') Без водителя
			li 
				a(href='#') Прокат вип авто
	|<?php wp_footer();?>

</body>
</html>