footer
	.f-line
		.f-line-wrap
			.item
				p.header О Компании
				p Предоставляем транспортные средства<br> для корпоративных мероприятий <br>и личных праздников.
			.item
				p.header Контактные телефоны
				p +375 29 638 77 00
			.item
				p.header Наш адрес
				p г. Минск, ул. Панченко 7/1а <br><small>(по предварительной записи)</small><br>E-mail: busminsk@bk.ru
			.item
				p.header Онлайн заказ
				a(href='#')
					input(type="button" value="Оставить заявку")
	.s-line
		img(class='lazyload' data-src!="<?php echo get_template_directory_uri(). '/src/img/logo.png' ?>")
		ul
			li 
				a(href='/van/') Микроавтобусы
			li 
				a(href='/bus/') Автобусы
			li 
				a(href='/limo/') Лимузины
			li 
				a(href='/premium/') Представительские
			li 
				a(href='/wedding/') Авто на свадьбу
			li 
				a(href='/suv/') Внедорожники
			li 
				a(href='/w-o-driver/') Без водителя
			li 
				a(href='/vip/') Прокат вип авто
</div>				
.footer-scripts
	|<?php wp_footer();?>

</body>
</html>