|<?php //critical_css();
| get_header(); ?>

.header-822
	p Прокат <span>авто</span> в Минске
.lead
	p <span> Онлайн </span> заявка
	form
		input(type='text' placeholder='Номер телефона' required)
		input(type='text' placeholder='Дата проката' required)
		input(type='submit' value='Оставить заявку')
.main-lead
.second-menu
	| <?php wp_nav_menu(array('menu' => 'second-menu','container' => '', 'walker' => new My_Walker_Nav_Menu()))?>

	include php/menu-walker.php

.keyholder
	.text ВНИМАНИЕ! У НАС СТАЛ ДОСТУПЕН ПРОКАТ<br> АВТОМОБИЛЕЙ БЕЗ ВОДИТЕЛЯ
	.auto
		img(class='lazyload' data-src='/wp-content/themes/bus/src/img/wcar.png')
		a(href="#")
			input(type='button' value='Подобрать авто')
.carLineWrap
	h2.typical Микроавтобусы
	include php/owl-slider-main.php
	| <?php getOwl('van');?>
	p.dashed Перейти в раздел: 
		a(href="/van/") Прокат микроавтобусов с водителем
.carLineWrap
	h2.typical Прокат авто на свадьбу
	| <?php getOwl('wed');?>
	p.dashed Перейти в раздел: 
		a(href="/wedding/") Прокат авто на свадьбу
.carLineWrap
	h2.typical Автобусы
	| <?php getOwl('bus');?>
	p.dashed Перейти в раздел: 
		a(href="/bus/") Прокат пассажирских автобусов

| <?php if ( have_posts() ) : while ( have_posts() ) : the_post(); ?>

|<?php the_content(); ?>

|<?php endwhile; else: ?>
|<p><?php _e('Sorry, no posts matched your criteria.'); ?></p>
|<?php endif; ?>					


|<?php get_footer();?>