@bg: #111d26;
@green: #12c391;
@hoverGreen: #1d5252;
@grey: #3b4043;

body
{
	background: @bg;
	font-family: 'Open Sans Condensed';
}

.wrap
{
	width:1190px;
	margin:0 auto;
	color:#fff;

	.grid-icon{display: none;}
	.typical 
	{
	    font-size: 2em;
	    text-transform: uppercase;
	    color: @green;
	}

	.logo-line
	{
		
		color:@green;
		text-transform: uppercase;
		overflow: hidden; 
	 
		display:grid;
		grid-template-columns: 1fr 185px 155px 166px;
		grid-template-rows:auto;

		.sprite
		{

		    background-repeat: no-repeat;
		    display: block;
		}
		.sprite-logo
		{
			width: 300px;
		    height: 52px;
		    background-position: -5px -40px;
		}
		.mail 
		{
			display:flex;

			.sprite-mail
			{
				width: 25px;
			    height: 25px;
			    background-position: -110px -5px;
			}
			span 
			{
			    padding-left: .4em;
    			align-self: flex-end;
			}	
		}

		.phone:extend(.wrap .logo-line .mail all)
		{
			.sprite-phone
			{
			    background-position: -5px -5px;
			    width: 25px;
			    height: 25px;
			}
			a 
			{
				text-decoration: none;
				color:@green;
			}
		}
		
		.vw
		{

			span.wrap
			{
				display: flex;
    			margin-bottom: 0.3em;

    			span 
    			{
    				padding-left: 0.4em;
    			}
		
			}
			.sprite-viber
			{
			    width: 25px;
			    height: 25px;
			    background-position: -40px -5px;
			}
			.sprite-wa
			{
				width: 25px;
			    height: 25px;
			    background-position: -75px -5px
			}
		}

		.grid-icon:extend(.wrap .logo-line .mail all)
		{
			display: none;
			.sprite-grid
			{
			    width: 25px;
			    height: 25px;
			    background-position: -145px -5px;
			}
		}

		.mail, .phone {align-self: center;}
	}

	.topnav
	{
		    width: 100vw;
		    left: calc(~"-50vw + 49.3%");
		   /*  margin-left: calc(~"-100vw / 2 + 1210px / 2");
		     			margin-right: calc(~"-100vw / 2 + 1210px / 2"); */
		    position: relative;
	        background-color: rgba(0,0,0,0.6);
	        border-bottom:1px solid @green;

		ul.menu > li.current-menu-item
		    {
		    	border-bottom:2px solid @green;
		    }
		ul.menu 
		{
			width:1190px;
			margin:0 auto;

			display:flex;
		    justify-content: space-between;
		    min-height: 54px;
		    padding-left: inherit;

		    

		    li.menu-item-has-children
		    {
		    	a:first-child {padding-bottom: 1em;}

		    	ul.sub-menu
		    	{
		    		display:none;
	    		    background-color: rgba(0, 0, 0, 0.84);
				    position: absolute;
				    padding-left: .3em;
				    margin-top: 1.05em;
				    padding: 0.7em;
				    margin-left: -0.7em;

				    li.current-menu-item
				    {
				    	a 
				    	{
				    		color:@green;
				    	}
				    }

		    		li
		    		{
	    			    padding-bottom: 0.5em;
	    			    list-style-type: none;

	    			    a 
	    			    {
	    			    	padding-bottom: 0;
	    			    }
	    			    &:last-child 
	    			    {
	    			    	background-color: transparent;
	    			    	padding:0;
	    			    	

	    			    	a 
	    			    	{
	    			    		font-weight: 700;
	    			    		font-size: 1em;
	    			    	}
	    			    }
		    		}
		    	}

		    	&:hover ul
		    	{
		    		display:block;
		    		
		    	}
		    }

			
			> li 
			{
				list-style-type: none;
				align-self:center;
				a 
				{
					color:#fff;
					text-decoration:none;
					text-transform: uppercase;
					font-weight: 700;

					&:hover
					{
						border-bottom: 2px solid @green; 
					} 
				}
				&:last-child
				{
					background-color: @green;
				    padding: 0.3em;
    				border-radius: 6px;


    				a 
    				{
    					font-size: 90%;
    					font-weight: 700;
    					text-decoration: none;

    				}
    				&:hover 
    				{
    					background-color: #09ad7e;
    					border-bottom: 0px;
    				}
				}
			}
		}
	}

	/* Мобильное меню */
	.mobile-menu 
	{
		display: none;
		width: 300px;
	    min-height: calc(~"100vh - 95px");
	    background: rgb(9, 105, 88);
        position: absolute;
	    right: 0;
	    z-index: 2;

	    ul
	    {
	    	padding-left:0;
	    	li

	    	{
				list-style-type:none;
			    padding-bottom: 0.6em;
				border-bottom: 1px solid #145858;
				padding-left: 1em;
				&:hover 
				{
					background-color: @hoverGreen;
					transition:0.6s;
				}

				a 
				{
					color:#fff;
					text-decoration: none;
					font-size: 1.5em;
				    display: inline-block;
    				width: 100%;
				}
	    	}

	    	li.sub 
	    	{
	    		span 
	    		{
	    			float: right;
    				padding-right: 1em;
	    		}

	    		ul 
	    		{
	    			padding-top:1em;
	    			li 
	    			{
	    				a 
	    				{
	    					font-size: 1.3em;
	    				}
	    			}
	    		}
	    	}
	    }
	}

	
	/*footer styles */
	
	footer
	{
		color:#fff;
		//margin-top:1em;

		.f-line
		{
			border-top: 1px solid @green;
			border-bottom: 1px solid @green;
		    padding-top: 1em;
    		padding-bottom: 1em;

		    width: 100vw;
		    left: calc(~"-50vw + 49.3%");
		    position: relative;

		    .f-line-wrap 
		    {
		    	width: 1190px;
			    display: flex;
			    margin: 0 auto;
			    justify-content: space-between;

			    .item:first-child
			    {

			    }

				.item
				{


					.header
					{
						text-transform: uppercase;
						color:@green;
						margin-top:0;
					}
					input:extend(.wrap .keyholder input)
					{
						&:hover{cursor: pointer}
					}
				}
		    }


		}
		.s-line 
		{
			display:flex;
		    justify-content: space-between;
		    padding-top:1em;
		    img 
		    {
		    	flex-basis:300px;
		    	max-height: 54px;
		    }

			ul 
			{
				display:flex;
				flex-wrap:wrap;

				li 
				{
					list-style-type: none;
					padding-left: 1em;


					a 
					{
						color:#fff;
						text-decoration: none;
						&:hover
						{
							text-decoration: underline;
						}
					}
				}
			}
		}
	}

	.keyholder
	{
		input
			{
			    background-color: #12c391;
			    background-image: none;
			    background: #12c391;
			    background: -webkit-linear-gradient(135deg,#12c391 30%,#00d6bd 100%);
			    background: linear-gradient(135deg,#12c391 30%,#00d6bd 100%);
		        border: none;
			    padding: 1em;
			    border-bottom: 2px solid green;
			    border-radius: 3px;
			    color:#fff;
			    text-transform: uppercase;
			    font-weight: bold;

			    &:hover 
			    {
			    	border-width:0;
			    	cursor:pointer;
			    	transition:1s ease-out; 
			    }
			}    
	}

} // .wrap

.wpb_wrapper
    {
    	color:#fff;

    	a 
    	{
    		color:@green;
    		text-decoration: none;

    		&:hover 
    		{
    			text-decoration: underline;
    		}
    	}

    	h2:extend(.wrap .typical) 
    	{

    	}
    }
#hidden_form
{
	h2 
	{
		text-transform: uppercase;
		text-align: center;

		span 
		{
			color:@green;
		}
	}
	input, select
	{
		display:block;
		margin:0.4em auto;
		width:200px;
		padding:0.4em;

		-ms-box-sizing:content-box;
		-moz-box-sizing:content-box;
		-webkit-box-sizing:content-box; 
		box-sizing:content-box;
	}
	input[type='submit']:extend(.wrap .keyholder input)
	{
	    width: 200px;
	    padding: 0.5em;
	    text-transform: none;
	    cursor:pointer;
	}
}

.leftpanel
{
    width: 100px;
    height: 100vh;
    background-color: #070c0f;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0;
    cursor:pointer;

    &:hover
    {
    	opacity: 0.3;
    	transition:0.5s ease-out;
    }
}    