@media only screen and (max-width:1190px)
{
	.wrap 
	{
		width:100%;
	}

	.topnav ul.menu
	{
		width:95% !important;
	}
	/*ниже - только для главной*/
	.second-menu
	{
		.menu
		{
			width:100% !important;
			justify-content: space-around !important;
		}
	}
	/*выше - только для главной */
}

@media only screen and (max-width:822px)
{
	.wrap 
	{
		.logo-line 
		{
			grid-template-columns: 1fr 1fr 1fr 35px;
			border-bottom:1px solid @green;
		    padding-bottom: 0.5em;
			    
			.logo {display: none;}
			
			.grid-icon 
			{
				display: block;
				align-self:center;

				img {width:25px}
			}
			.mail, .phone {text-align: center;}

		}
		.topnav {display: none;}

		/*ниже - только для главной */

		.main-lead {display:none}
		.lead 
		{
			float:none;
			margin:1em auto;
			width:169px;
		}

		.second-menu
		{
			.menu
			{
				flex-wrap:wrap;
			}
		}

		/*выше - только для главной */
	}

		
}

@media only screen and (max-width:470px)
{
	.wrap 
	{
		.logo-line 
		{
			grid-template-columns: 1fr 35px;
		    grid-template-rows: auto;
		    .phone {font-size: 1.5em}
			.mail, .vw {display: none;}
			img 
			{
			    vertical-align: baseline;
			}
		}
	}		
}