@media only screen and (max-width:1190px)
{
	.wrap
	{
		width:100%;
	}
}

@media only screen and (max-width:822px)
{
	.wrap .logo-line 
	{
		grid-template-columns: 1fr 1fr 1fr 35px;
		border-bottom:1px solid @green;
	    padding-bottom: 0.5em;
		    
		.logo {display: none;}
		.grid-icon 
		{
			display: block;
			align-self:center;

			img {width:25px}
		}
		.mail, .phone {text-align: center;}
	}	
}